{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/images/intro3.jpg' %}" alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Cardápio Digital</span>
                        <span class="section-heading-lower" style="font-size: 85%;">Seu cardápio sempre disponível</span>
                    </h2>
                    <p class="mb-3">Cada item do cardápio é criado e customizado pelo próprio estabelecimento. Disponibilizamos um QR Code que direciona o cliente até o seu cardápio digital, garantido o acesso de forma rápida e prática. - nós garantimos isso!</p>
                    <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visite-nos hoje!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Nossa Promessa</span>
                            <span class="section-heading-lower">Para Você</span>
                        </h2>
                        <p class="mb-0">Estamos empenhados em lhe oferecer uma ferramenta simples, prática e, acima de tudo, capaz de criar cardápios personalizados. Aqui você não precisa gastar dinheiro para alterar os seus itens!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}