<li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'core:home' %}">Início</a></li>
<li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'core:about' %}">Sobre</a></li>
<li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'core:products' %}">Produtos</a></li>
<li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'core:store' %}">Loja</a></li>
{% if user.is_authenticated %}
    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase login" href="{% url 'logout' %}">Sair</a></li>
{% else %}
    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase login" href="{% url 'login' %}">Entrar</a></li>
{% endif %}